<h1>CREATE NEW SUB</h1>

<%= render "shared/errors" %>

<form action="<%= subs_url %>" method="POST">
<%= auth_token %>

<label>SUB TITLE
  <input type="text" name="sub[title]" value="<%= @sub.title %>">
</label>


<label>SUB DESCRIPTION
  <input type="text" name="sub[description]" value="<%= @sub.description %>">
</label>

<input type="submit" value="Create SUB">


<p>
  <%= link_to "<< Back to ALL SUBS", subs_url %>
</p>
</form>
