<h1>EDIT SUB</h1>

<%= render "shared/errors" %>

<form action="<%= sub_url(@sub) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">


<label>SUB TITLE
  <input type="text" name="sub[title]" value="<%= @sub.title %>">
</label>


<label>SUB DESCRIPTION
  <input type="text" name="sub[description]" value="<%= @sub.description %>">
</label>

<input type="submit" value="Update SUB">

</form>
