<h1><%= @sub.title %></h1>

<%= @sub.description %>

<% @sub.posts.each do |post| %>
  <li><%= link_to post.title, post_url(post) %></li>
<% end %>

<p><%= link_to "edit sub", edit_sub_url(@sub) %></p>

<p>
  <%= button_to "DELETE SUB", sub_url, method: :delete %>
</p>

<p>
  <%= link_to "Back to all subs", subs_url %>
</p>
