<h1>NEW POST</h1>

<%= render "shared/errors" %>

<form action="<%= posts_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

<h3>POST TO SUB:</h3>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% @subs.each do |sub| %>
    <% checked = @post.sub_ids.include?(sub.id) %>
    <label>
      <li>
        <input
          type="checkbox"
          name="post[sub_ids][]"
          value="<%= sub.id %>"
          <%= 'checked="checked"' if checked %>>
        <%= sub.title %>
      </li>
    </label>
  <% end %>
<br>

<label>POST TITLE
  <input type="text" name="post[title]" value="<%= @post.title %>">
</label><br>


<label>POST URL
  <input type="text" name="post[url]" value="<%= @post.url %>">
</label><br>


<label>CONTENT
  <textarea name="post[content]"><%= @post.content %></textarea>
</label>


<input type="submit" value="Create POST">
</form>
