<h1><%= @post.title %></h1>
<small>in:
  <% @post.subs.each do |sub| %>
    <li><%= sub.title %></li>
  <% end %>
</small>

<p>
<%= @post.url %>
</p>

<p>
<%= @post.content %>
</p>

<p>
by <%= @post.author.username %>
</p>

<p>
  <%= link_to "edit post", edit_post_url(@post) %>
</p>

<%= button_to "delete post", post_url(@post), method: :delete %>

<hr>
<h3>COMMENTS</h3>
<%= link_to "Create new comment", new_post_comment_url(@post) %>
<p>
  <% @post.comments.each do |comment| %>
    <% if comment.parent_comment.nil? %>
      <%= link_to "comment #{comment.id}", comment_url(comment) if comment.parent_comment.nil? %>
      <%= comment.content %><br> by <%= comment.author.username %>

      <ul>
      <% unless comment.child_comments.empty? %>
        <% comment.child_comments.each do |child_comment| %>

          <li>
            <%= link_to "reply #{child_comment.id}", comment_url(child_comment) %>
            <%= child_comment.content %><br> by <%= child_comment.author.username %>
          </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
    <hr>
  <% end %>
</p>

<p>
<%= link_to "all subs", subs_url %>
</p>
